torch 
torchvision 
torchaudio
jupyterlab 
ipywidgets
transformers
sentence-transformers
datasets
numpy
pydantic
openai
ollama 
chromadb 
langchain 
langchain-community 
langchain_openai
fastembed
bitsandbytes 
accelerate
peft
trl
llama-index 
llama-index-llms-huggingface 
llama-index-embeddings-huggingface
tqdm
neo4j
langchain-neo4j
